<app-header></app-header>
<form class="main">
  <div class="form-group">
    <input type="text" (keyup.enter)="search(user)" class="form-control" [(ngModel)]="user" [ngModelOptions]="{standalone: true}"
      id="exampleInputPassword1" placeholder="Github user">
    <button type="button"  (click)="search(user)" class="btn">Find Me</button>
  </div>
  <div class="card">
    <div class="card-header">
      <h4>{{tagName}}</h4>
    </div>
    <div class="card-body p-0" *ngIf="dataAvailable">
      <img class="loader" *ngIf="newData"
        src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/09b24e31234507.564a1d23c07b4.gif">
      <img  src="{{details.avatar_url}}">
      <div class="card-footer">
        <p class="text-center"><a href="{{details.html_url}}">{{details.login}}</a></p>
      </div>
    </div>
  </div>
</form>